    <div class="image">
        <div class="image-body"><%=item.item_name%> Image</div>
    </div>
    <div class="b-info">
        <div class="price">
            Price: <%=item.price%>
        </div>
        <div class="salty-level">
            Salty: <%=item.salty_rating%>
        </div>
        <div class="spicy-level">
            Spicy: <%=item.spicy_rating%>
        </div>
        <div class="sweetness-level">
            Sweetness: <%=item.spicy_rating%>
        </div>
        <div class="calories">
            Calories: <%=item.calories%>
        </div>
    </div>
    <div class="b-description">
        <div class="section-1">
            <%=item.description%>
        </div>
    </div>
    <!--
    <div id="wrapper2" class="b-result-list">
        <div id="scroller2">

        </div>
    </div>

    <div class="b-order-buttons">

    </div>-->