<div class="b-filter-menu-bar">
    <a href="#" class="icon cancel" data-transition="none"></a>
    <h1 class="title">Filter</h1>
    <a id="filter-submit" class="find">Filter</a>
</div>
<div class='b-filter-form-field' style="height:auto">
	<form>

		<div class="multi-slider">
		      <label for="price_min">Price:</label>
		      <input type="range" name="price_min" id="price_min" class="min-slider" value="<%= price_min %>" min="0" max="100" />
		      <input type="range" name="price_max" id="price_max" class="max-slider" value="<%= price_max %>" min="0" max="100" data-track-theme="b"/>
		</div>

		<label for="Location">Location:</label>
		<input type="range" name="Location" id="Location" value="<%= Location %>" min="0" max="100" />

		<label for="age">Age:</label>
		<input type="range" name="age" id="age" value="<%= age %>" min="0" max="40" data-reverse="true" />

		<label for="food_type" class="select">Food Type:</label>
						<select name="food_type" id="food_type" multiple="multiple" data-native-menu="false">
							<option value="1">Type 1</option>
							<option value="2">Type 2</option>
							<option value="3">Type 3</option>
							<option value="4">Type 4</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
							<option value="5">Type 5</option>
						</select>

	</form>
</div>