<div class="b-sidebar">
    <div class="b-main-menu">
        <ul>
            <li class="b-profile-brief">
                <div class="image"></div>
                <div class="name">Kenny Chung</div>
            </li>
            <li><a class="account-setting-link" href="#">Account Setting</a></li>
            <li><a class="bookmark-link" href="#">Bookmarks</a></li>
            <li><a href="#">Pending Order</a></li>
            <li><a href="#">Completed Order</a></li>
            <li><a href="#">Reviews</a></li>
        </ul>
    </div>
    <div class="b-discover">
        <ul>
            <li class="title">Discover</li>
            <li><a href="#">Indian Cuisin</a></li>
        </uL>
    </div>
</div>
<div id="b-top-container">
    <div class="b-header-control">
        <div class="left">
            <a href="#" class="icon sidebar-link active"></a>
            <a href="#" class="icon back"></a>
            <a href="#" class="icon cancel"></a>
        </div>
        <div class="right"></div>
    </div>
    <div class="b-inner-screen">
        <div class="b-search-control"></div>
        <div class="b-search-feedback"></div>
    </div>
    <div class="b-page-container">
        <!--these page DIVs are for mockup only. it should be developed as a container, such as
        the searchResultContainer.js-->
        <div data-role="page" class="slidables pages" id="home">
            <div data-role="content" class="content">
                <div class="coming-soon">Welcome, Mr.Diner ~</div>
            </div>
        </div>
        <div data-role="page" class="slidables pages" id="plateList-page">
            <div data-role="content" class="content">
                <div class="coming-soon">PlateList Section is coming soon!</div>
            </div>
        </div>
        <div data-role="page" class="slidables pages" id="freebies-page">
            <div data-role="content" class="content">
                <div class="coming-soon">Freebies section is coming soon!</div>
            </div>
        </div>
        <div data-role="page" class="slidables pages" id="account-setting-page">
            <div data-role="content" class="content">
                <div class="coming-soon">Here is Account Setting</div>
            </div>
        </div>
        <div data-role="page" class="slidables pages" id="bookmark-page">
            <div data-role="content" class="content">
                <div class="coming-soon">Here is your Bookmark</div>
            </div>
        </div>
    </div>
    <div class="b-toolbar">
        <div class="drawer"></div>
        <div class="b-toolbar-tabs" data-role="navbar" data-theme="a" data-iconpos="top">
            <ul>
                <li><a class="home-button" href="#" data-icon="home" data-transition="slide">Home</a></li>
                <li><a class="plateList-button" href="#" data-icon="grid" data-transition="slide">Platelist</a></li>
                <li><a class="freebies-button" href="#" data-icon="star">Freebies</a></li>
            </ul>
        </div>
    </div>
</div>