<div class="b-pep-container">
    <div class="b-pep-floating-layer">
        <div class="pep-node">
        </div>
    </div>
</div>
<div data-role="content" class="content">
    <div class="b-info-container">
    </div>
    <div class="b-menu-container">
        <div class="b-tab-group"></div>
        <div class="b-content-group"></div>
    </div>
</div>

<!--
<div id="b-dish-view" class="pep-node">
<div class="image">
options section
</div>
<div class="customization">
<div id="wrapper2" class="b-result-list">
    <div id="scroller2">
        <ul class="list">
            <li>thisthishtihist</li>
            <li>thisthishtihist</li>
            <li>thisthishtihist</li>
            <li>thisthishtihist</li>
            <li>thisthishtihist</li>
            <li>thisthishtihist</li>
            <li>thisthishtihist</li>
            <li>thisthishtihist</li>
            <li>thisthishtihist</li>
            <li>thisthishtihist</li>
        </ul>
    </div>
</div>
</div>
<div class="b-order-buttons">

</div>
</div>
-->