<div class="b-restaurant-summary">
	<div class="b-control-bar">
		<div class="back button">Back</div>		
	</div>
	<div class="info">
		<h3><%=name%></h3>	
	</div>
	<div class="menus">
		<% _.each(menus, function(menu) { %>
		<div >
			<% _.each(menu.sections, function(section) { %>
				<div class="section">
					<div class="title  expanded"><%=section.sectionName%></div>
					<ul class="general-list">
					<% _.each(section.items, function(item) { %>
						<li>
							<div class="name"><%=item.name%></div>
							<div class="price"><%=item.price%></div>
						</li>
					<% }); %>	
					</ul>				
				</div>
			<% }); %>
		</div>
		<% }); %>
	</div>
</div>