<div class="data-attribute" data-restaurantid="<%= item.restaurantId %>" >
    <div class="image">

    </div>
    <div class="info">
        <div class="restaurantName"><%= item.restaurantName %></div>
        <div class="restaurantRating"><%= item.restaurantRating %></div>
        <div class="restaurantAddress"><%= item.restaurantAddress %></div>
        <div class="restaurantPhone"><%= item.restaurantPhone %></div>
    </div>
    <div class="status">
        <div class="count"><%= item.matchedItemCount %></div>
    </div>
</div>