<div class="b-search-container">
    <div class="b-input-area">
        <div class="keyword-box">
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="keyword-search">Search Input:</label>
                <input data-type= "search" type="text" value="" name="search" id="keyword-search" class="search-text" data-mini="true">
            </div>
        </div>
        <div class="location-box">
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="location-search">Location Input:</label>
                <input data-type= "search" type="text" value="" name="search" id="location-search" class="location-text" data-mini="true">
            </div>
        </div>
    </div>
    <div class="b-button-area">
        <div class='b-search-button'>
            <a href="#" id="search-submit" data-role="button" data-mini="true">Search</a>
        </div>
        <div class='b-filter-button'>
            <a href="#" data-role="button" data-mini="true">Filter</a>
        </div>
    </div>
</div>